/* Michael Osgood / To Do List */
body {
	background-color: #D4D4D4;
	color: #000000;
}

#wrapper {
	width: 95%;
	font-family: 'Limelight', cursive;
	font-size: 18px;
}

.card {
margin-bottom: 50px;
}

.btn {
	background-color: #d3d3d3;
	color: #000000;
}

.form-control {
	background-color: #F8F8FF;
}

footer {
	font-size: 20px;
	text-align: center;
	background: #F8F8FF;
	border-top: 1px solid #000000;
	font-family: 'Limelight', cursive;
  }

  @media screen and (min-width: 400px) {
	p {
		font-size: 50px;
	}

	.card {
		margin-bottom: 100px;
		}
	
	footer {
		font-size: 40px;
		border-top: 3px solid #000000;
	}
  }